body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Courier New", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgb(138, 126, 176) 0%, rgb(178, 172, 199) 50%, rgb(214, 209, 228) 100%);
}
